.btn {
  width: 100%;
  height: 6rem;
  font: bold 1.6rem 'Jost';
  text-transform: uppercase;
  color: var(--color-blue-dark);
  border-radius: 5px;
  outline: none;
  border: none;
}

.btn.btn-primary {
  background-color: var(--color-white);
}

.btn.btn-secundary {
  background-color: var(--color-blue-dark);
  color: var(--color-white);
}