.c-header {
  position: sticky;
  top: 0;
  height: 9rem;
  padding: 0 2rem;
  background-color: var(--color-blue-dark);
  display: flex;
  justify-content: space-between;
}

.c-header .brand {
  width: 10rem;
}

.c-header .c-nav {
  position: fixed;
  top: 9rem;
  left: 0;
  bottom: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
}

.c-header .c-nav.active{
  height: calc(100vh - 9rem);
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.c-header .c-nav .c-menu {
  display: flex;
  gap: 2rem;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue-dark);
}

.c-header .c-nav .c-menu .c-menu-link {
  font-size: 2.2rem;
  color: var(--color-white);
}